

.title {
	text-align: center;
}

.top, .hello {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

table {
	margin-top : 20px;
	text-align: center;
	border: 1px solid gold;
	margin : 0 auto;
}

input {
	margin-bottom: 30px;
}

td {
	padding: 10px;
	line-height: 30px;
}

.data {
	color: lightgray;
	display: none;
}

#name, #id {
	border-right: 1px solid gold;
}

